*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    margin: 30px;
    padding: 50px;
    height: 200px;
    display: flex;
    justify-content:center;
    align-items:stretch;
    gap:10px 5px;
    flex-wrap: wrap;
    flex-direction: row;
}
.item{
    width: 100px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    font-weight: 500;
    font-family: sans-serif;
}
.item1{
    background-color: green;
    color: white;
}
.item2{
    background-color: red;
    color: white;
}
.item3{
    background-color: blue;
    color: white;
}