*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url("https://picsum.photos/1200/400");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.item{
    flex: 1;
    height: 50px;
    color: white;
}
.item1{
    background-color: #82b440;
    padding: 10px 0 0 10px;
    margin: 10px 0 0 10px;
    border: 2px solid #000;
    border-radius:50px 0 50px 0;
}
.item2{
    background-color: coral;
}
.item3{
    background-color: blue;
}
.row{
    width: 80%;
    height: 300px;
    margin: 50px auto;
    background-color: #82b440;
    display: grid;
    grid-template-columns: 100px 100px 1fr 1fr;
    grid-template-rows: 100px 100px 100px ;
    gap: 10px;
    padding: 10px;
}
.box{
    background-color: #fff;
    height: 100px;
}
